.Roadmap_header {
    background-image: url('/public/images/bg-splash-2-dark.png');
    background-color: #000000;
    background-position: top;
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.Roadmap-container {
    font-size: calc(5px + 2vmin);
}

.Roadmap-container-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.Roadmap-container-item {
    justify-content: center;
    text-align: left;
    display: flex;
    margin: 1em;
    font-family: 'Jost';
}

.Roadmap-fade {
    -webkit-mask-image: linear-gradient(180deg, #000 60%, transparent);
}