.FAQ_header {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.faq-borders {
    border: solid 2px white;
    border-radius: 25px;
    padding: 2em;
}

h4 {
    font-weight: bold;
}