.Lore_header {
    background-color: #000000;
    background-image: url('/public/images/splash-dark-fade.png');
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.Lore_logos {
    max-width: 210px;
    margin: 15px;
}

.Lore_spectre {
    animation: spin 20s linear infinite;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.Lore_classes {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding-top: 3em;
    padding-bottom: 3em;
}

.Lore_description {
    margin: 0px auto 0;
    max-width: 800px;
    padding: 10px;
}

.marauder_desc {
    background-image: url("/public/images/logo-marauder.png");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,1);
}

.spectre_desc {
    background-image: url("/public/images/logo-spectre.png");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,1);
}

.vanguard_desc {
    background-image: url("/public/images/logo-vanguard.png");
    background-position: center;
    background-size: cover;
    box-shadow: inset 0px 0px 20px rgba(0,0,0,1);
}